<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper main">
      {{ content }}
    </div>
  </main>

</body>

<script>


  const events = document.getElementsByClassName("event-post")
  const coming = document.getElementById("coming-events")
  const noComing = document.getElementById("no-coming-events")

  console.log("events", events)
  const now = new Date()
  now.setDate(now.getDate() - 1)
  var coming_events = 0
  for (var i = 0; i < events.length; i++) {
    const elm = events[i];
    const parts = elm.getAttribute("x-date").slice(0, 10).split("-").map(x => parseInt(x))
    const date = new Date(parts[0], parts[1] - 1, parts[2]);
    console.log(date, now)
    if (date < now) {
      elm.style.display = "none"
    } else {
      coming_events += 1
    }


  }
  if (!coming_events) {
    coming.style.display = "none";
  } else {
    noComing.style.display = "none";

  }

</script>

</html>