---
layout: base
---

<div class="post">
    <h1 class="page-heading">Events @ Bedoon</h1>

    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li class="event-post" x-date="{{ post.date }} ">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

            <span class="post-meta">{{ post.date | date: date_format }} {{ post.price+"kr" ? post.price != 0 :
                "gratis" }}
               </span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <img src="{{ post.cover | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">

            <div class="post-content e-content" itemprop="articleBody">
                {{ post.content }}
            </div>
        </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}


</div>