---
layout: base
---

<div class="post">
    <h1 class="page-heading">Events @ Bedoon</h1>

    {%- if site.events.size > 0 -%}
 
    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for event in events -%}
        <li class="event-post" x-date="{{ event.date }} ">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

            <span class="post-meta">{{ event.date | date: date_format }} {{ event.price+"kr" ? event.price != 0 :
                "gratis" }}
               </span>
            <h3>
                <a class="post-link" href="{{ event.url | relative_url }}">
                    {{ event.title | escape }}
                </a>
            </h3>
            <img src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}" title="{{ event.title }}">

            <div class="post-content e-content" itemprop="articleBody">
                {{ event.content }}
            </div>
        </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}


</div>

