---
layout: base
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {% assign pages = site.pages %}

  {%- for page in site.pages -%}
  {%- if page.id and page.id == "/frontpage" -%}
  {%- if page.cover -%}
  <img class="frontpage-image" src="{{ page.cover  | prepend: site.baseurl }}" alt="">
  {% endif -%}

  {{page.content}}
  {%- endif -%}

  {%- endfor -%}


  {%- for page in site.pages -%}
  {%- if page.id and page.id == "/abningstider" -%}
    <h2 id="abningstider">Åbningstider</h2>


  {{page.content}}
  {%- endif -%}
  {%- endfor -%}


  {%- for page in site.pages -%}
  {%- if page.id and page.id == "/kontakt" -%}
    <h2 id="kontakt">Kontakt</h2>


  {{page.content}}
  {%- endif -%}
  {%- endfor -%}
  



  <div id="events">
    <h2 id="coming-events" class="coming">Kommende begivenheder:</h2>
    <h2 id="no-coming-events" class="coming">Ingen kommende begivenheder</h2>

    <ul class="post-list">
      {%- assign date_format = "%-d %b %Y " -%}
      {%- for event in site.events -%}
      <li class="event-post" x-date="{{ event.date }} ">
        <h3>
          <a class="post-link" href="{{ event.url | relative_url }}">
            {{ event.title | escape }}
          </a>
        </h3>
        <span class="meta">
          <i>
            {{ event.date | date: date_format }}

            {%- if event.hour -%}
            @ {{ event.hour }}:00

            {%- else -%}
            @ 10:00
            {%- endif -%},&nbsp;
            <span>{%- if event.price != 0 -%} {{ event.price}}kr {%- else -%} gratis{%- endif -%}
            </span>
          </i>
        </span>

        {%- if !!event.cover -%}

        <img class="event-image" src="{{ event.cover | prepend: site.baseurl }}" alt="{{ event.title }}" title="{{ event.title }}">
        {%- endif -%}
        <div class="post-content e-content" itemprop="articleBody">
          {{ event.content }}
        </div>
      </li>
      {%- endfor -%}
    </ul>


  </div>



</div>

